.query-container{
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    background-color: white;
    text-align: center;
    margin: auto;
}
.query-container>div{
    margin: 5px;
}
nz-select{
    width: 120px;
    margin: 10px;
}
.article-container{
    overflow-y: scroll;
    overflow-x: hidden;
}